body{
    font-family: 'Indie Flower', cursive;
    font-size: 20px;
    line-height: 1.5;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-color: rgb(182, 174, 174);
}
::selection{
    background: rgb(143, 2, 2);
    color: black;
}
.container{
    width: 80%;
    margin: auto;
    overflow: hidden;
}

header{
    background:black ;
    color: rgb(194, 193, 193);
   padding-top: 30px ;
   min-height: 70px;
   border-bottom: rgb(143, 2, 2) solid 3px;
   text-transform: uppercase;
   font-family: cursive;
}



header a{
  color: rgb(194, 193, 193);  
  text-decoration: none;
  text-transform: uppercase;
  font-size: 20px;
}

header ul{
    padding: 0;
    margin: 0;
}

header li
{
    float: left;
    display: inline;
    padding: 0 12px 0 12px;
}

header #head{
    float: left;
    margin-bottom: 15px;
}


header #head h2{
    margin: 0;
}
header nav{
float: right;
margin-top: 25px;
}

header .first{
    color: rgb(143, 2, 2);
    font-weight:bold;
    font-size: 50px;
}

header .list a{
    color: rgb(143, 2, 2);
    font-weight:bold;
    margin-bottom: 20px;
}

header a:hover{
    color: rgb(118, 86, 86);
    font-weight: bold;
}

#middle{
    min-height: 50px;
    height: 530px;
    width: 99vw;
    background: url(pngtree-black-abstract-background-with-a-line-of-black-lines-image_2605379.jpg) ;
    color: white;
    text-align: center;
    
}

#middle h1{
    margin-top: 180px;
    font-size: 50px;
    margin-bottom: 10px;
}

#middle p{
    font-size: 20px;
}

#email{
    padding: 15px;
  color: white;
    background-color: rgb(143, 2, 2);
    margin-bottom: 8px;
}

#email h3{
    float: left;
 font-size: 30px;
}

#email form{
    float: right;
    margin-top: 20px;
    width: 400px;
   
}

#email input[type="email"]{
    padding: 8px;
    height: 25px;
    width: 250px;
    border-radius: 4px;
    color: black;
}

.button{
    padding: 4px;
    height: 34px;
    width: 90px;
    background-color: rgb(94, 86, 86);
    color: rgb(0, 0, 0);
    cursor: pointer;
    font-weight: bold;
    border-radius: 4px;
    box-shadow: 5px 5px 2px rgb(0, 0, 0);
}

.button:hover{
   
    background-color:rgb(192, 29, 29);
    color: black
}

.boxes{
    margin-top: 20px;
}

.box{
    float: left;
    width: 30%;
    padding: 4px;
    margin: 4px;
    text-align: center;
}

.box img{
    height: 100px;
}

.box:hover{
    background-color: gray;
    color: white;
    border-radius: 9px;
    height: 300px;
    width: 400px;
    font-size: 22px;
}

article{
    width: 70%;
    float: left;
    margin: 6px;
}
aside{
    float: right;
    width: 25%;
    overflow: auto;
    background-color: gray;
    padding: 14px;
    border-radius: 5px;
text-align: center;
margin-top: 26px;
color: white;
}

aside h2{
    color: rgb(83, 10, 10);
}

#head1{
 font-weight: bold;
 font-size: 30px;
}


#s{
    width: 25%;
    height: 400px;
    padding: 4px;
    margin-top: 23px;
    padding-top: 23px;
}

label {
    display: block;
    margin-bottom: 8px;
  }

  textarea {
    width: 80%;
    padding: 8px;
    margin: 12px;
    box-sizing: border-box;
  }

  #name{
    height: 8%;
    width: 70%;
    margin-bottom: 8px
  }

  #message{
    margin-top: 0;
  }

footer{
    padding: 20px;
    margin-top: 20px;
    color: white;
    background-color: black;
    text-align: center;
}

@media(max-width:789px){
    header #head, header nav, header vnav li{
  float: none;
  text-align: center;
  width: 100%;
    }

    header{
        padding-bottom: 4px;
    }

    #middle h1{
        margin-top:46px;
        margin-bottom: 12px;
        font-size: 30px
    }

    #middle{
        height: 400px;
      font-size: 10px;
    }

    #email{
        float: none;
        text-align: center;
        width: 100%;
    }
}